/* Body style */
body {
    background-color: #484A47;
    /* height: 100%; */
}

/* Navbar style */
.navbar-custom {
    background-color: #E88873;
    position: fixed;
    width: 75%;
    top: 0;
    right: 0;
    left: 0;
    /* margin-bottom: 20px; */
    margin: 0 auto 0 auto;
    border-radius: 25px;
    z-index: 1;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: #484A47;
}

.nav-item .dropdown {
    height: 24px;
    width: 48px;
    background-color: #E0AC9D;
}

/* Main */
main {
    margin: 75px auto;
    padding: 10px;
    height: 100%;
    width: 75%;
    /* margin: 0 auto; */
    background-color: #5C6D70;
    border-radius: 25px;
}

/* Contact Forms */
.form-container {
    height: 100%;
    width: 80%;
    padding: 8px;
    margin: 24px auto;
    color: #ffffff;
}

.col {
    margin: 10px auto;
}

.form-control {
    background-color: #E0AC9D;
    border-color: #E0AC9D;
    border-width: 4px;
}

.form-control:focus {
    background-color: #5C6D70;
    border-color: #E0AC9D;
    color: #E0AC9D;
}

/* Submit button */
#btn-container {
    /* position: relative;
    bottom 0; */
    flex-direction: row-reverse;

}

#submit-btn {
    background-color: #E0AC9D;
    color: #484A47;
    margin: 10px 0;
}