/* Body style */

body {
  background-color: #484A47;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-top: auto;
}


/* navbar */

nav {
  background-color: #343A40;
  border-bottom: solid 12px #E0AC9D;
  margin-bottom: 6px;
}

.nav-brand {
  font-size: 1.6em;
}


/* .custom-toggler, */

.navbar-toggler-custom .navbar-toggler-icon {
  background-image: url("https://img.icons8.com/pastel-glyph/64/000000/hamburger.png");
  background-color: #e2b3a6;
  border-radius: 48px;
}

.navbar-toggler-icon:hover {
  border: solid 3px #343A40
}

.nav-style,
.nav-link {
  font-family: 'Poller One', cursive;
  font-size: 1.4em;
  color: #E88873;
  text-shadow: 1.5px 2px 5px #6e706c;
}

.nav-style:hover,
.nav-link:hover {
  color: #E0AC9D;
  text-shadow: 6px 6px 12px #A37774;
}


/* Main */

main {
  padding: 10px;
  height: 100%;
  width: 75%;
  margin: 16px auto;
  /* background-color: #5C6D70; */
  background-image: linear-gradient(to top right, #5C6D70, #484A47);
  border-radius: 25px;
}


/* About me (index.html) */

.border-custom {
  border: 8px solid #343A40;
  border-radius: 25px;
}

.custom-bg {
  /* background-color: #E0AC9D; */
  background-image: linear-gradient(to top left, #e2b3a6 20%, #E88873);
}


/* skills icons */

.icon {
  margin-top: 30px;
  margin-bottom: 25px;
  display: flex;
  flex-flow: column wrap;
  height: 100px;
  width: 100px;
  margin-right: 10px;
  padding-left: 8px;
}

/* header tags  */

h2, h3, h4, h5 {
  font-family: 'Poller One', cursive;
  color: #343A40;
  text-shadow: 2px 5px 5px #5C6D70
}

/* h3 {
  font-family: 'Poller One', cursive;
  color: #343A40;
  text-shadow: 2px 5px 5px #5C6D70
}

h4 {
  font-family: 'Poller One', cursive;
  color: #E88873;
}

h5 {
  font-family: 'Poller One', cursive;
  color: #343A40;
  text-shadow: 2px 5px 5px #5C6D70
} */


/* text font */

p,
.card-text {
  font-family: 'Quicksand', sans-serif;
  color: #343A40;
  text-shadow: 2px 1px 8px #E0AC9D;
  font-weight: 600;
  font-size: 1.2em;
  word-wrap:normal
}

.card-fluid {
  background-image: linear-gradient(to bottom, #484A47 10%, #A37774);
}


/* rounding corners of card images*/

.rounded-custom {
  border-radius: 25px 25px 0 0;
}


/* rounding corners of portrait img */


.portrait-rounded-custom {
  max-width: 300px;
  min-width: 300px;
  max-height: 365px;
  min-height: 365px;
  padding-right: 0;
  border-radius: 25px;
  margin-bottom: 18px;
  margin-right: 0;
  box-shadow: 10px 5px rgb(75, 74, 74);
}

/* Contact Forms */

.form-container {
  height: 100%;
  width: 100%;
  padding: 0 12px;
  margin: 24px auto;
  color: #ffffff;
  background-image: linear-gradient(to top, #484A47 10%, #E88873);
  border-radius: 25px;
  font-family: 'Quicksand', sans-serif
}

.col {
  margin: 10px auto;
}

.form-control {
  background-color: #E0AC9D;
  border-color: #E0AC9D;
  border-width: 4px;
}

.form-control:focus {
  background-color: #5C6D70;
  border-color: #E0AC9D;
  color: #E0AC9D
}

.form-control:focus::-webkit-input-placeholder {
  color: #E0AC9D;
}

label {
  font-size: 1.5em;
}


/* Card rounded borders */

div.card-border-custom {
  border-radius: 30px;
}

.card-title {
  font-family: 'Poller One', cursive;
  overflow: hidden;
}

.card-text {
  font-family: 'Quicksand', sans-serif;
  overflow: hidden;
}

.keep-logging-img {
  width: 100%;
}


/* Card link text */

main a {
  color: #E0AC9D;
  background-color: #343A40;
  border-radius: 4px;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.4em;
  overflow: hidden;
  margin: 5px;
}

main a:hover,footer a:hover {
  cursor: pointer;
  color: #e2cec8;
  text-decoration: none;
  background-color: #000000;
  padding: 5px;
}

footer a {
  cursor: pointer;
  text-decoration: none;
  color: #e2cec8;
}

.resumeWrapper {
  min-height: 100vh;
}


/* Footer */

#page-footer {
  height: 86px;
  background-color: #343A40;
  font-family: 'Quicksand', sans-serif
}

.text-color {
  display: flex;
  justify-content: center;
  line-height: 1.3em;
  padding-top: 16px;
  padding-bottom: 16px;
  color: #ffffff;
  background-color: #343A40;
}

.border-top-custom {
  border-top: 12px solid #E0AC9D;
  margin-top: auto;
}

#content-wrap {
  padding-bottom: 76px;
}


/* google font families
font-family: 'Poller One', cursive;
font-family: 'Quicksand', sans-serif; */


/* Media Queries */



/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .portrait-rounded-custom {
    margin: 0 auto 20px auto;
  }
  .about-me {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
/* Small devices (landscape phones, 575px and larger) */

@media (min-width: 574px) {
  .icon {
    display: flex;
    align-content: space-around;
  }
  .portrait-rounded-custom {
    margin: 0 auto 20px auto;
  }
  .about-me {
    margin: 0 auto 0 auto;
    text-align: center;
  }
}
  
  
  /*
Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */